In [44]:
import pandas as pd
data={
    'Name': ['John', 'Emma', 'Sam', 'Lisa', 'Tom'],
    'Age': [25, 30, 28, 32, 27],
    'Country': ['USA', 'Canada', 'Australia', 'UK', 'Germany'],
    'Salary': [50000, 60000, 55000, 70000, 52000]
}
df=pd.DataFrame(data)

In [47]:
print("[A]: Given DataFrame:")
print(df)

[A]: Given DataFrame:
   Name  Age    Country  Salary
0  John   25        USA   50000
1  Emma   30     Canada   60000
2   Sam   28  Australia   55000
3  Lisa   32         UK   70000
4   Tom   27    Germany   52000

In [49]:
print("[B]: Name and Age Column:")
print(df[['Name','Age']])

[B]: Name and Age Column:
   Name  Age
0  John   25
1  Emma   30
2   Sam   28
3  Lisa   32
4   Tom   27

In [51]:
print("[C]: Data frame where Country is USA:")
print(df[df['Country'] == 'USA'])

[C]: Data frame where Country is USA:
   Name  Age Country  Salary
0  John   25     USA   50000

In [53]:
print("[D]: Data frame in decreasing order of salary:")
print(df.sort_values(by='Salary', ascending=False,inplace=False))

[D]: Data frame in decreasing order of salary:
   Name  Age    Country  Salary
3  Lisa   32         UK   70000
1  Emma   30     Canada   60000
2   Sam   28  Australia   55000
4   Tom   27    Germany   52000
0  John   25        USA   50000

In [56]:
df['Experience'] = [3, 6, 4, 8, 5]
print("[E]: Resultant DataFrame:")
print(df)

[E]: Resultant DataFrame:
   Name  Age    Country  Salary  Experience
0  John   25        USA   50000           3
1  Emma   30     Canada   60000           6
2   Sam   28  Australia   55000           4
3  Lisa   32         UK   70000           8
4   Tom   27    Germany   52000           5

In [57]:
df.loc[df['Name'] == 'Emma', 'Salary'] = 70000
df = df.drop('Experience', axis=1)
print("[F]: Resultant DataFrame:")
print(df)

[F]: Resultant DataFrame:
   Name  Age    Country  Salary
0  John   25        USA   50000
1  Emma   30     Canada   70000
2   Sam   28  Australia   55000
3  Lisa   32         UK   70000
4   Tom   27    Germany   52000